html{
    margin:0;
}
main{
    max-width: 1440px;
}
body {
    background-color: rgba(173, 172, 172, 0.388);
    
}

.card {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.col {
    display: flex;
    justify-content: center;
}

.type {
    border: 1px solid black;
    color: black;
    border-radius: 12px;
    padding: 4px 10px;
    display: inline-block;
    margin-right: 5px;
    font-size: 0.85rem;
}
.modalNav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.ImgModal{
    width:150px;
    height: auto;
}
.nav-link{
    color: black;
}
.info-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 0 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.info-label {
    font-weight: 600;
}

.info-value {
    text-align: right;
}
.modal-body {
    max-height:  70vh;
    overflow-y: auto;
     min-height: 70vh;
}