html,
body {
    height: 100%;
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
}

.width {
    width: 1440px;
}
main{
     flex: 1;
}
.contentLimit {
   
    max-width: 1440px;
    margin: 0 auto;
}


.pokeball {
    width: 30px;
    margin-bottom: 6px;
    padding-left: 10px;

}

.card {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(230, 223, 223, 0.692);
    cursor: pointer;
}

.col {
    display: flex;
    justify-content: center;
}

.type {
    border: 1px solid black;
    color: black;
    border-radius: 12px;
    padding: 4px 10px;
    display: inline-block;
    margin-right: 5px;
    font-size: 0.85rem;
}

.modalNav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.ImgModal {
    width: 150px;
    height: auto;
    width: 200px;
    border-radius: 10px;
}

.nav-link {
    color: black;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 0 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.info-label {
    font-weight: 600;
}

.info-value {
    text-align: right;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
    min-height: 70vh;
}

.alertNoPoke {
    color: white;
    font-weight: bolder;
}

.centerAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

.new-row {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col {
    padding: 10px;
}

.topic {
    text-align: center;
    padding: 20px;
    background-color: rgba(236, 239, 245, 0.895);
    width: 100%;
}

.load-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer {
    height: 50px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {

    h3 {
        font-size: 20px;

    }
}

@media (max-width: 450px) {
    .footerContent {
        font-size: 10px;
    }

    h3, h5 {
        font-size: 16px;
    }
    span {
        font-size: 14px;
    }
}